body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tabs .nav {
  height: 200px;
}

/* #home {
  background-image: url(./images/Home_image.jpg);
  height: 540px;
} */

#paper_container {
  padding: 10px;
}

#paper {
  background: #007bff;
  color: white;
  text-align: center;
  font-weight: bolder;

  cursor: pointer;
  padding-top: 13px;
  font-size: 15px;
}

#button-img {
  height: 46px;

  margin-bottom: 3px;
}

#paper:hover {
  background: #dc3545;
  transition: all 0.6s;
}

#subject-list {
  margin-top: 10px;
}

#clickables_subjectlist:hover {
  background: lightgrey;
  transition: all 0.8s;
}
li {
  cursor: pointer;
}

#tab_bar {
  background-color: #007bff;
}

#question_container {
  background-color: #a8c3e0;
  padding: 15px;
}

#note_container {
  background-color: #a8c3e0;
  padding: 15px;
}

#answer_alert {
  margin-top: 10pt;
}
